{% extends "base.html" %}

{% block meta_title %}Список Групп{% endblock meta_title %}

{% block title %}Список Групп{% endblock title %}

{% block content %}
    <a href="{% url "groups_add" %}" class="btn btn-primary bnt-group" id="create-form-link">Добавить Группу</a>
    <a href="{% url "students_add" %}" class="btn btn-primary bnt-group" id="create-form-link">Добавить студента</a>

    <!-- Start Groups Listing -->
    {% if groups %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Колличество человек в группе</th>
                    <th>Староста</th>
                    <th>Действия</th>
                </tr>
            </thead>

            <tbody>
                {% for group, count_students in groups %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url "students" group.id %}">{{ group.title }}</a>
                        </td>
                        <td>{{ count_students }}</td>
                        <td>
                            {% if group.leader %}
                                {{ group.leader.first_name }} {{ group.leader.last_name }}
                            {% else %}
                                Нет старосты
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Выберите
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a id="create-form-link" href="{% url "groups_edit" group.id %}">Редактировать</a></li>
                                    {% if count_students %}
                                        <li><a id="delete-group" href="{% url "groups" %}">Удалить</a></li>
                                    {% else %}
                                        <li><a id="create-form-link" href="{% url "groups_delete" group.id %}">Удалить</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>В базе пока нет ни одной группы. Создайте первую</p>
    {% endif %}
    <!-- End Groups Listing -->

{% endblock content %}
