{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Удаление группы{% endblock meta_title %}

{% block title %}Удаление группы{% endblock title %}

{% block content %}
    <form action="{% url "groups_delete" object.id %}" method="post">
      {% csrf_token %}
      <p>Вы действительно хотите удалить группу "{{ object }}"?</p>
      <input type="submit" value="Да" name="delete_button"
             class="btn btn-danger" />
    </form>
{% endblock content %}
