{% extends "base.html" %}

{% load static from staticfiles %}

{% load thumbnail %}

{% block meta_title %}группа {{ current_group }}{% endblock meta_title %}

{% block title %}Группа {{ current_group }}{% endblock title %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url "groups" %}">Группы</a></li>
        <li class="active">Группа {{ current_group }}</li>
    </ol>
    <!-- Start Groups Listing -->
    {% if paginate %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Фото</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Билет</th>
                    <th>Дата рождения</th>
                    <th>Группа</th>
                    <th>Действия</th>
                </tr>
            </thead>

            <tbody>
                {% for student in paginate %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {% if student.photo %}
                                {% thumbnail student.photo "30" as im %}
                                    <img class="img-rounded" src="{{ im.url }}"  
                                    width="{{ im.width }}" height="{{ im.height }}" />
                                {% endthumbnail %}
                            {% else %}
                                {% with ABSPATH_URL|add:"/static/img/default-user.png" as path %}
                                {% thumbnail path "30" as im %}
                                    <img class="iimg-rounded" src="{{ path }}" 
                                    alt="{{ student.first_name }} {{ student.last_name }}"
                                    width="{{ im.width }}" height="{{ im.height }}" />
                                {% endthumbnail %}
                                {% endwith %}
                            {% endif %}
                        </td>
                        <td>{{ student.last_name }}</td>
                        <td>{{ student.first_name }}</td>
                        <td>
                            {% if student.middle_name %}
                                {{ student.middle_name }}
                            {% else %}
                                &mdash;
                            {% endif %}
                        </td>
                        <td>{{ student.ticket }}</td>
                        <td>{{ student.birthday }}</td>
                        <td>{{ student.student_group.title }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Выберите
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a id="create-form-link" href="{% url "students_edit" student.id %}">Редактировать</a></li>
                                    <li><a id="create-form-link" href="{% url "students_delete" student.id %}">Удалить</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>В этой группе нет студентов. Добавьте первого</p>
    {% endif %}

    <div class="col-xs-12">
        {% include "pagination.html" %}
    </div>
    <!-- End Groups Listing -->
{% endblock content %}
