{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Удаление студента{% endblock meta_title %}

{% block title %}Удаление студента{% endblock title %}

{% block content %}
    <form action="{% url "students_delete" object.id %}" method="post">
      {% csrf_token %}
      <p>Вы действительно хотите удалить студента "{{ object }}"?</p>
      <input type="submit" value="Да" name="delete_button"
             class="btn btn-danger" /><br /><br />
    </form>
{% endblock content %}
