{% extends "base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}Добавить студента{% endblock meta_title %}

{% block title %}Добавить студента{% endblock title %}

{% block status_message %}
    {% if form.errors %}
        <div class="alert alert-warning" role="alert">Пожайлуста, исправьте ошибки</div>
    {% endif %}
{% endblock %}

{% block content %}
    <button id="load">Идет загрузка</button></pre>
        <div id="content">{% crispy form %}</div>
    <pre>
{% endblock content %}
