/* Alert Message*/
.alert {
  margin: 10px 0 5px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Footer Styles */
#footer {
  border-top: 1px solid #dddddd;
  padding-top: 10px;
  margin-top: 10px;
}

/* Button Add Group, Add Student*/
.bnt-group {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.modal-danger {
    color: red;
}
