{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">
<head>

    <meta charset="UTF-8"/>
    <title>Сервис учета базой студентов - {% block meta_title %}{% endblock meta_title %}</title>
    <meta name="description" value="Сервис учета базой студентов" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet"
        href="{{ PORTAL_URL }}{% static "css/style.css" %}">

</head>

<body>

    <!-- Start Container -->
    <div class="container">
        <!-- Start Header -->
        <div class="row" id="header"> 
          <div class="col-xs-12">
            <h1>Сервис учета базой студентов</h1>
          </div>
        </div>
        <!-- End Header -->

        <!-- Start Content Columns -->
        <div class="row" id="content-columns">
            <div class="col-xs-12" id="content-column">

                {% block status_message %}
                    {% if request.GET.status_message %}
                        <div class="alert alert-warning" role="alert">{{ request.GET.status_message }}</div>
                    {% endif %}
                {% endblock status_message %}

                <h3>{% block title %}{% endblock title %}</h3>
                {% block content %}{% endblock content %}
            </div>
        </div>
        <!-- End Content Columns -->

        <!-- Start Footer -->
        <div class="row" class="footer">
            <div class="col-xs-12">
                &copy; 2015 Григорий Царик
            </div>
        </div>
        <!-- End Footer -->

    </div>
    <!-- End Container -->

    <!-- Start Modal Boilerplate CREATE -->
    <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog"
        aria-labelledby="myModalCreate" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalCreate"><!-- --></h4>
                </div>
                <div class="modal-body"><!-- --></div>
            </div>
        </div>
    </div>
    <!-- End Modal Boilerplate CREATE -->

    <!-- Javascripts Inclusion -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!-- Language for calendar widget -->
    <script src="{% static "js/moment_with_locales.js" %}"></script>

    <!-- Calendar widget -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>

    <script src="{% static "js/main.js" %}"></script>

</body>
</html>
