{% if paginate.has_other_pages %}
    <nav>
        <ul class="pagination pagination-sm">
            {% if paginate.has_previous %}
                <li>
                    <a href="?page={% if paginate.has_previous %}{{ paginate.previous_page_number }}{% endif %}">&laquo;</a>
                </li>
            {% endif %}

            {% for p in paginate.paginator.page_range %}
                <li {% if paginate.number == p %}class="active"{% endif %}>
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endfor %}

            {% if paginate.has_next %}
                <li>
                    <a href="?page={{ paginate.next_page_number }}">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
